@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Roboto";
    src: url("../../public/RobotoMono-Medium.ttf");
}
.roboto{
    font-family: "Roboto";
}

#svg_container > div{
    border-bottom: 1px solid black;
    padding: 10px 0;
}

#svg_container > div > p{
    margin: 5px 0;
    font-size: 20;
}